# Database Configuration
DB_URL=jdbc:postgresql://localhost:5432/your_database_name
DB_USERNAME=your_username
DB_PASSWORD=your_password



# Server Configuration
SERVER_PORT=8080

# API KEY FOR THE PROJECT
EXTRABITE-API-KEY=your_valid_api_key

# JWT Configuration
JWT_SECRET=your_jwt_secret